<h1>Order Confirmation</h1>
<p>Thank you for your order, <%= @order.user.name %>!</p>
<p>Your order number is: <%= @order.id %></p>
<p>We've sent a confirmation email to <%= @order.user.email %>.</p>
<%= link_to 'View My Orders', user_orders_path %>